Codebase/c++/boost/*
Codebase/c++/boost/**
Codebase/Parameters/data/*
Codebase/Parameters/data/**
Codebase/Parameters/data.zip
Codebase/Parameters/data*
Codebase/Parameters/CACAA/tmp.txt
Codebase/LTM/c++/._*